// layout breakpoint
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// color basic
$color-white: #fff;
$color-black: #252525;
$color-body: #f9f9f9;
$color-font-basic: $color-black;