@use "../utilities/variables";
@use "../utilities/mixins";

.footer-content {
  color: variables.$color-white;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 0px -15px 125px -15px;

  @include mixins.md {
    display: flex;
    margin: 0px -30px 125px -30px;
  }

  &-list {
    margin: 0px 15px;

    @include mixins.md {
      margin: 0px 30px;
    }
    .title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 24px;

      @include mixins.md {
        font-size: 32px;
      }
      @include mixins.lg {
        font-size: 40px;
      }
    }
    .list {
      li {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 16px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        @include mixins.lg {
          font-size: 24px;
        }
      }
    }
    .list-contact {
      width: 236px;
      li {
        margin-bottom: 24px;
        .title {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 8px;

          @include mixins.lg {
            font-size: 20px;
          }
        }
        .subtitle {
          font-weight: 400;
        }
      }
    }
  }
}

.footer-bottom {
  border-top: thin solid white;
  display: flex;
  padding-top: 16px;
  padding-bottom: 35px;
  align-items: flex-end;
  color: variables.$color-white;

  @include mixins.lg {
    padding-top: 26px;
    padding-bottom: 45px;
  }

  .footer-sosmed {
    margin-left: auto !important;
    display: flex;
    margin: 0px -12px;
    li {
      margin: 0px 12px;
    }
  }
}
