@use '../utilities/mixins';

$direction: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
);

.flex {
  display: flex;
}

@include mixins.sm {
  .flex-sm {
    display: flex;
  }
}
@include mixins.md {
  .flex-md {
    display: flex;
  }
}
@include mixins.lg {
  .flex-lg {
    display: flex;
  }
}
@include mixins.xl {
  .flex-xl {
    display: flex;
  }
}
@include mixins.xxl {
  .flex-xxl {
    display: flex;
  }
}

@each $name, $glyph in $direction {
  .justify-#{$name} {
    justify-content: $glyph;
  }
}

@each $name, $glyph in $direction {
  .items-#{$name} {
    align-items: $glyph;
  }
}
