@use '../utilities/variables';
@use '../utilities/mixins';

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 600,
  "bold": 700,
  "extra-bold": 900,
);

@each $name, $value in $font-weights {
  .font-#{$name}{
    font-weight: $value;
  }
}

$font-size: (
  "body-2": 14px,
  "body-1": 16px,
  "subheading-2": 20px,
  "subheading-1": 24px,
  "title": 40px,
);

@each $name, $value in $font-size {
  .text-#{$name}{
    font-size: $value;
    @if $name == "title" {
      line-height: 1.5;
    }
  }
  @include mixins.sm {
    .text-sm-#{$name} {
      font-size: $value;
    }
  }
  @include mixins.md {
    .text-md-#{$name} {
      font-size: $value;
    }
  }
  @include mixins.lg {
    .text-lg-#{$name} {
      font-size: $value;
    }
  }
  @include mixins.xl {
    .text-xl-#{$name} {
      font-size: $value;
    }
  }
  @include mixins.xxl {
    .text-xxl-#{$name} {
      font-size: $value;
    }
  }
}

$aligns: left, center, right;

@each $name in $aligns {
  .text-#{$name}{
    text-align: $name;
  }
  @include mixins.sm {
    .text-sm-#{$name} {
      text-align: $name;
    }
  }
  @include mixins.md {
    .text-md-#{$name} {
      text-align: $name;
    }
  }
  @include mixins.lg {
    .text-md-#{$name} {
      text-align: $name;
    }
  }
  @include mixins.xl {
    .text-xl-#{$name} {
      text-align: $name;
    }
  }
  @include mixins.xxl {
    .text-xxl-#{$name} {
      text-align: $name;
    }
  }
}

.text-secondary {
  color: variables.$color-secondary;
}

.text-white {
  color: #fff;
}