@use "../utilities/variables";

.banner-nav-brand {
  display: flex;
  align-items: center;
  margin: 0px -12px;
  li {
    cursor: pointer;
    margin: 0px 12px;
    transition: all 0.2s ease-in-out;
  }
  li:hover {
    color: variables.$color-black;
  }
}
.banner-nav-arrow {
  display: flex;
  align-items: center;
  margin: 0px -20px;
  svg {
    width: 24px;
    height: 24px;
    margin: 0px 20px;
    cursor: pointer;
  }
}

.gender-collection {
  position: relative;
  &-label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      color: variables.$color-white;
      font-weight: 600;
      font-size: 24px;
      padding: 20px 30px;
      border-radius: 100px;
      background-color: rgba(37, 37, 37, 0.25);
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: variables.$color-black;
      }
    }
  }
}

.popular-brand {
  position: relative;
  overflow: hidden;

  &-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.25);
    cursor: pointer;
  }

  &-bg {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }

  &:hover &-bg {
    transform: scale(1.25);
  }
}

.promo {
  position: relative;

  &-content {
    position: absolute;
    height: 100%;
    width: 256px;
    top: 0px;
    left: 56px;
    display: flex;
    align-items: center;

    &-title {
      font-weight: 800;
      font-size: 48px;
      line-height: 1.2;
    }
  }
}

@mixin product-favorite {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 9px;
  right: 9px;
}

.product-item {
  cursor: pointer;
  &-img {
    height: 180px;
    background-color: variables.$color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 80%;
    }
  }

  &-favorite {
    @include product-favorite();
    color: variables.$color-secondary;
    &-active {
      @include product-favorite();
      color: #ee001d;
    }
  }

  .product-sale-price {
    color: red;
    text-decoration: line-through;
  }

  .category {
    display: flex;
    li {
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
